<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__box">
        <div class="footer__box-title">Меню</div>
        <nav class="footer__nav">
          <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Условия работы</a></li>
            <li><a href="#">Оплата заказа</a></li>
            <li><a href="#">Чат</a></li>
            <li><a href="#">Отзывы клиентов</a></li>
            <li><a href="#">Доставка</a></li>
          </ul>
        </nav>      
      </div>
      <div class="footer__box">
        <div class="footer__box-title">Полезные ссылки</div>
        <nav class="footer__nav">
          <ul>
            <li><a href="#">Наше сообщество ВК</a></li>
            <li><a href="#">Наш Instagram</a></li>
            <li><a href="#">Как оформить заказ</a></li>
            <li><a href="#">Поиск товара на Таобао</a></li>
            <li><a href="#">Выбор цвета</a></li>
            <li><a href="#">Выбор размера</a></li>          
          </ul>
        </nav> 
      </div>
      <div class="footer__box">
        <div class="footer__box-title">Время работы</div>
        <div class="footer__box-wrap">
          <p class="footer__box-subtitle">Москва 09:01</p>
          <p>Рабочий день с 4:00 до 13:00</p>
        </div>
        <div class="footer__box-wrap">
          <p class="footer__box-subtitle">Пекин 14:01</p>
          <p>Рабочий день с 9:00 до 18:00</p>
        </div>
        <div class="footer__box-wrap">
          <p class="footer__box-subtitle">Воскресенье</p>
          <p>Выходной</p>
        </div>
      </div>
      <div class="footer__box">
        <div class="footer__box-title">Связаться с нами</div>
        <div class="footer__box-wrap">
          <p class="footer__box-subtitle">Наш адрес в Маньчжурии Адрес в Маньчжурия</p>
          <p>内蒙古自治区满洲里市五道街湖滨小区5号</p>
        </div>
        <div class="footer__box-wrap">
          <p class="footer__box-subtitle">Адрес в Гуандуне</p>
          <p>广东省 广州市 白云区 同德街道 西槎路<br>
            603-613号溪雨国际广场C109 A号</p>
        </div>
        <a href="tel:+8615847733776" class="footer__box-phone">+8 (61584) 773-3776</a>
        <a href="tel:+79145187501" class="footer__box-phone">+7 (914) 518-75-01</a>
        <p class="footer__box-wechat">WeChat: storetao</p>
        <a class="sertif" href="assets/images/base/certificate-big.jpg">
          <picture>
            <source srcset="assets/images/base/certificate.webp" type="image/webp">
            <img class="footer-certificat" src="assets/images/base/certificate.jpg" alt="">
          </picture>
        </a>        
      </div>
      
    </div>
    <div class="footer__under">
      <div class="footer__under-logo">
        <picture>
          <source srcset="assets/images/storetao-footer.webp" type="image/webp">
          <img src="assets/images/storetao-footer.png" alt="">
        </picture>
      </div>
      <div class="socials">
        <ul class="socials-list">
          <li>
            <a href="#">            
              <img src="assets/images/icon/vk.png" alt="">         
            </a>
          </li>
          <li>
            <a href="#">            
              <img src="assets/images/icon/Viber.png" alt="">         
            </a>
          </li>
          <li>
            <a href="#">            
              <img src="assets/images/icon/telegram.png" alt="">         
            </a>
          </li>
          <li>
            <a href="#">            
              <img src="assets/images/icon/whatsapp.png" alt="">         
            </a>
          </li>
        </ul>
      </div>
      <p class="footer__under-ps">© StoreTao 2020   DOMAIN: STORETAO.COM ВСЕ ПРАВА ЗАЩИЩЕНЫ</p>
    </div>
  </div>  
</footer>
