<header class="header">
  <div class="container">
    <div class="header__top">     
        <a href="#" class="header__logo">
          <picture>
            <source srcset="assets/images/logo.webp" type="image/webp">
            <img src="assets/images/logo.png" alt="">
          </picture>
        </a>
        <div class="header__top-text" >
          <p>Доставка товаров из Китая в Россию</p>
          <p>Всего 14 дней до Москвы</p>
        </div>
        <div class="header__top-curse" >
          <p class="header__top-cursetext">Текущий курс:</p>
          <p class="header__top-cursevalue">1 ¥ = 11.694 Р</p>
        </div>
        <div class="socials" >
          <ul class="socials-list">
            <li >
              <a href="#">            
                <img src="assets/images/icon/vk.png" alt="">         
              </a>
            </li>
            <li    >
              <a href="#">            
                <img src="assets/images/icon/Viber.png" alt="">         
              </a>
            </lita-aos=>
            <li     >
              <a href="#">            
                <img src="assets/images/icon/telegram.png" alt="">         
              </a>
            </li>
            <li     >
              <a href="#">            
                <img src="assets/images/icon/whatsapp.png" alt="">         
              </a>
            </li>
          </ul>
        </div>
        <div class="header__top-account" >
          <img src="assets/images/icon/user.svg" alt="">
          <p class="header__top-login ">Войти на сайт</p>
          <p class="header__top-login none">Регистрация</p>
        </div>
        <div class="burger burger-2">
          <input type="checkbox" name="burger2" id="burger2"/>
          <label for="burger2"><span class="bar bar-1"></span><span class="bar bar-2"></span><span class="bar bar-3"></span><span class="txt">Burger</span></label>
        </div>
    </div>    
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-wrapper">
        <button class="header__bottom-btn">
          <img src="assets/images/icon/list.svg" alt="">
          <p>Заказ</p>
        </button>
        <div class="header__mobmenu">
          <p class="header__mobmenu-title">Меню <span class="closemenu"></span></p>
          <nav class="nav">
            <ul>
              <li >
                <a href="#">Заказ</a>
              </li>
              <li>
                <a href="#">О  нас</a>
              </li>
              <li>
                <a href="#">Помощь</a>
              </li>
              <li>
                <a href="#">Условия</a>
              </li>
              <li>
                <a href="#">Оплата</a>
              </li>
              <li>
                <a href="#">Чат</a>
              </li>
              <li>
                <a href="#">Отзывы</a>
              </li>
              <li>
                <a href="#">Доставка</a>
              </li>
              <li>
                <a href="#">Товары от партнеров</a>
              </li>
            </ul>          
          </nav>
          <div class="header__mobmenu-phone">
            <a href="tel:+79145187501">+7 (914) 518-75-01</a>
            <p>Звонок по России бесплатный</p>
          </div>
          <div class="header__mobmenu-cursewrap">
            <p>Текущий курс:</p>
            <p class="header__mobmenu-curse">1 ¥ = 11.694 Р</p>
          </div>
          <a class="header__mobmenu-btn " href="#"><img src="assets/images/icon/user-white.svg" alt=""> Войти на сайт</a>
          <a class="header__mobmenu-btn none" href="#"><img src="assets/images/icon/user-white.svg" alt=""> Регистрация</a>
        </div>
       
      </div>      
    </div>    
  </div>
</header>
